
$rocko: #f9d4b1;
$rocko-shirt: #4D92CB;
$rocko-shirt-triangle: #76368D;

$heffer: #F6E54D;
$heffer-nose: #f09343;
$heffer-suspender: #C1B8EF;

$filburt: #98C8C5;
$filburt-shoes: #e05b52;
$filburt-shell: #1acb9d;
