$rocko: #f9d4b1; //using this one now
$rocko-shirt: #4D92CBff;
$rocko-shirt-triangle: #76368Dff;
$heffer: #F6E54Dff;
$heffer-suspenders: #C1B8EFff;
$filburt: #98C8C5ff;

$june-bud: #C1DF59ff;
$caribbean-green: #1EC8A3ff;
$chinese-red: #B23419ff;
$light-green: #7EE26Aff;