$desert-sand: #F2CAA9ff;
$foo: #f1caac;
$minion-yellow: #F6E54Dff;
$tufts-blue: #4D92CBff;
$eminence: #76368Dff;
$june-bud: #C1DF59ff;
$caribbean-green: #1EC8A3ff;
$opal: #98C8C5ff;
$chinese-red: #B23419ff;
$light-green: #7EE26Aff;
$maximum-blue-purple: #C1B8EFff;